services:
  - type: web
    name: imobly-frontend
    env: node
    region: frankfurt
    plan: free
    branch: main
    buildCommand: npm install -g pnpm && pnpm install && pnpm build
    startCommand: node .next/standalone/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_TELEMETRY_DISABLED
        value: 1
      - key: NEXT_PUBLIC_API_URL
        sync: false
      - key: NEXT_PUBLIC_APP_URL
        sync: false
